---
import { Icon } from 'astro-icon/components'

interface Props {
	title: string;
}

const { title } = Astro.props;
const products = [
	{
		icons: "",
		name: "producto 1"
	},
	{
		icons: "",
		name: "producto 2"
	},
	{
		icons: "",
		name: "producto 3"
	}

]
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800"> 
			<div class="container flex items-center justify-around "  >
				<img src="public/logo.webp" alt="" class="h-16">

				<div class=" relative w-2/6" >

				<input  placeholder="buscar" class="h-10 rounded-full pl-4 pr-14 outline-none relative w-full">
				<div class="bg-zinc-800 right-2 top-[2px] absolute inline-block text-white rounded-2xl py-1 px-2" >
				<Icon name="mdi:search" class="size-5 h-6"/>
				</div>
				
				</div>
				<div class="flex">
					<div class="text-white flex items-center">
						<Icon name="mdi:qrcode-scan"  class="ml-6 mr-3 size-8" />
						<p class="leading-2 ">descarga la app <br> de AlinExpress</p>
						
						</div>
					
						<div class="text-white flex items-center ">
						<Icon name="flagpack:co" class="ml-6 mr-3 size-8"  />
							<p>es/ <br> <strong>cop</strong></p>
							
						</div>
						<div class="text-white items-center flex ml-4">
							<Icon name="mdi:account" class="size-8 ml-6 mr-3"/>
							<p>¡Bienvenido <br> <strong>Identificate / Registrate</strong> </p>
		
						</div>
						<div class="text-white flex ml-4 items-center ">
							<Icon name="mdi:local-grocery-store" class="size-8 ml-6 mr-3"/>
							<p class="text-black"> <span class="bg-white flex justify-center absolute w-5 rounded-full h-6 " >0 </span><br> <strong class="text-white">cesta</strong></p>
		
						</div>
				</div>
				
			</div>
			<nav class="items-center flex justify-around text-white">
				<a href="#" class="items-center h-10 group flex relative text-lg rounded-full border-2 text-center px-4 text-white">
					<Icon name="mdi:menu" />
					Todas las categorias
					<menu class="hidden group-hover:block left-0 top-7 w-full absolute bg-zinc-800">
						<ul>
							<li>opcion1</li>
							<li>opcion2</li>
							<li>opcion3</li>
						</ul>
					</menu>
					
				</a >
				<a href="#" class="hover:bg-sky-800 p-4 " >
					NN
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Superventas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					mejores ventas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 " >
					hojar y jardin
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					cabello y pelucas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Moda hombre
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Acessorios
				</a>
				
			</nav>
		</div>



		<div class="flex justify-start pt-5 w-auto mt-6 h-[150px]">
			<div class=" ml-60	">
				<p class="text-2xl font-bold "> MEJORES ELECCIONES, 
					MEJORES PRECIOS
				</p>
			</div>

			<div class=" text-center mr-10">
				<div class=" flex justify-center">
					<Icon name="mdi:currency-usd"  class="text-4xl"	/>
				</div>
				<div class="text-sm">
					<p > <strong> Relacion precio-calidad</strong><br>
						<p class="text-gray-500 leading-4">ofrecemos precios competitivos <br>
							en millones de articulos</p>
					</p>	
				</div>				
				
			</div>
			<div class="text-center mr-10" >
				<div class=" flex justify-center">
					<Icon name="mdi:account"  class="text-4xl"	/>
				</div>
																			
				<div class="text-sm">
					<p > <strong>Compradores de todo el mundo</strong><br>
						<p class="text-gray-500 leading-4">Mas de 300 millones de compradores <br>
							de mas de 200 millones de paises y regiones</p>
					</p>	
				</div>		
			</div>

			<div class="text-center mr-10">
				<div class=" flex justify-center">
					<Icon name="mdi:car-hatchback"  class="text-4xl"/>
				</div>
																					
				<div class="text-sm">
					<p > <strong> Entrega rapida</strong><br>
						<p class="text-gray-500 leading-4">Entrega mas rapida en articulos <br>
							selectos gracias a nuestras <br> logistica mejorada</p>
					</p>	
				</div>		
			</div>
			<div class="text-center mr-10">
				<div class=" flex justify-center">
					<Icon name="mdi:credit-card-outline"   class="text-4xl"/>
				</div>
																			
				<div class="text-sm">
					<p > <strong> Pagos seguros</strong><br>
						<p class="text-gray-500 leading-4">Metodos de pagos seguros <br>
							Preferidos por los compradores <br>
						    internacionales</p>
					</p>	
				</div>		
			</div>
			<div class="text-center mr-10">
				<div class=" flex justify-center">
					<Icon name="mdi:security" class="text-4xl" />
				</div>
																					
				<div class="text-xs">
					<p > <strong>Proteccion del comprador </strong><br>
						<p class="text-gray-500">Consigue un reembolso si los <br>
							articulos llegan tarde o si no son <br> como se describen </p>
					</p>	
				</div>		
			</div>
			<div class="text-center mr-10">
				<div class=" flex justify-center">
					<Icon name="mdi:cellphone" class="text-4xl" />
				</div>
																					
				<div class="text-sm">
					<p > <strong> Descarga la app AliExpress</strong><br>
						<p class="text-gray-500  leading-4">Compra donde sea y en <br> cualquier momento </p>
					</p>	
				</div>		
			</div>
		</div>

		<!-- Esta es la seccion de productos-->		
		

			<div class="">
				<div class="flex justify-around w-1/6">
					<div><a href="" class="font-bold text-2xl ">Registrarse</a></div>
					<div><a href="" class="font-bold text-2xl">Entrar</a></div>
				</div>
			</div>
		
	


	</body>
</html>
