---
import { Icon } from 'astro-icon/components'

interface Props {
	title: string;
}

const { title } = Astro.props;
const products = [
	{
		icons: "",
		name: "producto 1"
	},
	{
		icons: "",
		name: "producto 2"
	},
	{
		icons: "",
		name: "producto 3"
	}

]
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800"> 
			<div class="container flex items-center justify-around "  >
				<img src="public/logo.webp" alt="" class="h-16">
				<div class=" relative" >

				<input  placeholder="buscar" class="h-10 rounded-full pl-4 pr-14 outline-none w-100">
				<div class="bg-zinc-800 right-2 top-[2px] absolute inline-block text-white rounded-2xl py-1 px-2" >
				<Icon name="mdi:search" class="size-5 h-6"/>
				</div>
				
				</div>
				<div class="text-white flex items-center">
				<Icon name="mdi:qrcode-scan"  class="ml-6 mr-3 size-8" />
				<p class="leading-2 ">descarga la app <br> de AlinExpress</p>
				
				</div>
			
				<div class="text-white flex items-center ">
				<Icon name="flagpack:co" class="ml-6 mr-3 size-8"  />
					<p>es/ <br> <strong>cop</strong></p>
					
				</div>
				<div class="text-white items-center flex ml-4">
					<Icon name="mdi:account" class="size-8 ml-6 mr-3"/>
					<p>¡Bienvenido <br> <strong>Identificate / Registrate</strong> </p>

				</div>
				<div class="text-white flex ml-4 items-center ">
					<Icon name="mdi:local-grocery-store" class="size-8 ml-6 mr-3"/>
					<p class="text-black">0 <br> <strong class="text-white">cesta</strong></p>

				</div>
			</div>
			<nav class="items-center flex justify-around text-white">
				<a href="#" class="items-center h-10 group flex relative text-lg rounded-full border-2 text-center px-4 text-white">
					<Icon name="mdi:menu" />
					Todas las categorias
					<menu class="hidden group-hover:block left-0 top-7 w-full absolute bg-zinc-800">
						<ul>
							<li>opcion1</li>
							<li>opcion2</li>
							<li>opcion3</li>
						</ul>
					</menu>
					
				</a >
				<a href="#" class="hover:bg-sky-800 p-4 " >
					NN
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Superventas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					mejores ventas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 " >
					hojar y jardin
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					cabello y pelucas
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Moda hombre
				</a>
				<a href="#" class="hover:bg-sky-800 p-4 ">
					Acessorios
				</a>
				
			</nav>
		</div>
		<div class="container banner">
			banner
		</div>
		<nav class="container main_menu" >
			 
			<a href="/">Inicio</a>  <a href="/productos">productos</a>
		</nav>
		<div class="container list_products">
			{
				products.map((product) => <div>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><ellipse cx="12.07" cy="7" rx="3" ry="1.71"></ellipse><path d="M12.07 22c4.48 0 8-2.2 8-5V7c0-2.8-3.52-5-8-5s-8 2.2-8 5v10c0 2.8 3.51 5 8 5zm0-18c3.53 0 6 1.58 6 3a2 2 0 0 1-.29.87c-.68 1-2.53 2-5 2.12h-1.39C8.88 9.83 7 8.89 6.35 7.84a2.16 2.16 0 0 1-.28-.76V7c0-1.42 2.46-3 6-3z"></path></svg>
					{product.name}
			</div>)
			}
			
		</div>
		<div class="container categories">
			categorias
		</div>
		<div class="container">
			<slot />
		</div>
		<div class="container footer">
			ESTE ES EL FOOTER
		</div>
	</body>
</html>
<style is:global>
	.main_menu{
		background-color:orange;
		display: flex;
		height: 40px;
		
		
	}
	.main_menu a { 
		display: flex;
		text-decoration: none;
		color: black;
		align-items: center;
		height: 100%;
		padding: 0 12px;
		transition: background 300ms ease-in-out;

	}
	.main_menu a:hover{
		background-color: rgb(190, 177, 160);
		
	}
	
	.banner{
		height: 240px;
		
	}
	
	
	.list_products{
		display: flex;
		height: 80px;
		
		/* background-color: rgb(148, 25, 25); */
	}
	.list_products div{
		height: 100%;
		display: flex;
		max-width: 120;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid gray;
		border-radius: 5px;
		margin-right: 4px;
		background-color: red;
	}
	.categories{
		height: 80px;
	}
	.footer{
		height: 50px;
	}

	html, body {
		margin: 0;
		padding: 0;
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
